
.lessons {
  @media (max-width: $breakpoint) {
    padding-top: calc(70 / 360 * 100vw);
  }
}

.lessons__lesson {
  margin-bottom: calc(40 / 1600 * 100vw);

  &:last-child {
    margin-bottom: 0;
  }

  @media (max-width: $breakpoint) {
    margin-bottom: calc(40 / 360 * 100vw);
  }
}

.lessons__title {
  max-width: calc(700 / 1600 * 100vw);
  margin: 0 auto calc(95 / 1600 * 100vw);
  @media (max-width: $breakpoint) {
    max-width: unset;
  }
}


.lessons__lesson__head {
  background-color: #0061F4;
  padding: calc(28 / 1600 * 100vw) calc(34 / 1600 * 100vw) calc(28 / 1600 * 100vw) calc(58 / 1600 * 100vw);
  display: flex;
  justify-content: space-between;
  color: #fff;
  border-top-left-radius: calc(20 / 1600 * 100vw);
  border-top-right-radius: calc(20 / 1600 * 100vw);
  align-items: center;

  @media (max-width: $breakpoint) {
    flex-direction: column;
    padding-top: calc(23 / 360 * 100vw);
    padding-bottom: calc(30 / 360 * 100vw);
    border-top-left-radius: calc(20 / 360 * 100vw);
    border-top-right-radius: calc(20 / 360 * 100vw);
  }

}

.lessons__lesson__title {
  font-size: calc(30 / 1600 * 100vw);
  margin: 0;
  display: flex;
  font-weight: 300;

  span {
    max-width: calc(430 / 1600 * 100vw);
    margin-left: calc(8 / 1600 * 100vw);
  }

  @media (max-width: $breakpoint) {
    font-size: calc(20 / 360 * 100vw);
    text-align: center;
    flex-direction: column;

    span {
      max-width: unset;
      display: block;
    }
  }
}


.lessons__lesson__info {
  display: flex;
  width: calc(470 / 1600 * 100vw);
  justify-content: space-between;

  @media (max-width: $breakpoint) {
    width: unset;
    flex-direction: column;
    margin-top: calc(25 / 360 * 100vw);
  }
}

.lessons__lesson__info__item {
  display: flex;

  img {
    width: calc(50 / 1600 * 100vw);
    height: calc(50 / 1600 * 100vw);
    display: block;
    margin-right: calc(20 / 1600 * 100vw);
  }

   p {
     font-size: calc(16 / 1600 * 100vw);
     font-weight: 700;
     line-height: 140%;
     display: block;
     span {
       font-weight: 300;
       display: block;
     }
   }

  @media (max-width: $breakpoint) {
    margin-bottom: calc(10 / 360 * 100vw);

    &:last-child {
      margin-bottom: 0;
    }


    img {
      width: calc(50 / 360 * 100vw);
      height: calc(50 / 360 * 100vw);
      margin-right: calc(20 / 360 * 100vw);
    }

    p {
      font-size: calc(16 / 360 * 100vw);
    }

  }
}


.lessons__lesson__body {
  background-color: #F2F6FC;
  border-bottom-left-radius: calc(20 / 1600 * 100vw);
  border-bottom-right-radius: calc(20 / 1600 * 100vw);
  padding: calc(40 / 1600 * 100vw) calc(60 / 1600 * 100vw);
  display: flex;
  align-items: center;

  @media (max-width: $breakpoint) {
    justify-content: center;
    flex-direction: column-reverse;
    border-bottom-left-radius: calc(20 / 360 * 100vw);
    border-bottom-right-radius: calc(20 / 360 * 100vw);
    padding-bottom: calc(22 / 360 * 100vw);
    padding-top: 0;
  }
}

.lessons__lesson__body__preview {
  width: calc(440 / 1600 * 100vw);
  height: calc(249 / 1600 * 100vw);
  border-radius: calc(20 / 1600 * 100vw);
  overflow: hidden;
  display: flex;
  position: relative;
  margin-right: calc(60 / 1600 * 100vw);

  img {
    width: 100%;
    height: 100%;
  }

  &:after {
    content: "";
    background-image: url("../images/lock.png");
    background-size: cover;
    width: calc(60 / 1600 * 100vw);
    height: calc(60 / 1600 * 100vw);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
  }

  @media (max-width: $breakpoint) {
    width: calc(300 / 360 * 100vw);
    height: calc(170 / 360 * 100vw);
    border-radius: calc(10 / 360 * 100vw);
    margin: calc(40 / 360 * 100vw) auto 0;

    &:after {
      width: calc(40 / 360 * 100vw);
      height: calc(40 / 360 * 100vw);
    }
  }
}

.lessons__lesson__body__topics {
  @media (max-width: $breakpoint) {
    width: 100%;
  }
}
.lessons__lesson__body__topics__title {
  font-size: calc(26 / 1600 * 100vw);
  margin: 0 0 calc(21 / 1600 * 100vw);

  @media (max-width: $breakpoint) {
    font-size: 20px;
    text-align: center;
    margin: calc(33 / 360 * 100vw) 0 calc(20 / 360 * 100vw);
  }
}

.lessons__lesson__topics__list {
  li {
    display: flex;
    align-items: center;
    margin-bottom: calc(10 / 1600 * 100vw);
    font-size: calc(16 / 1600 * 100vw);

    &:before {
      content: "";
      display: block;
      margin-right: calc(20 / 1600 * 100vw);
      width: calc(30 / 1600 * 100vw);
      height: calc(30 / 1600 * 100vw);
      background-image: url("../images/check.svg");
      background-size: cover;
    }
  }

  @media (max-width: $breakpoint) {
    li {
      font-size: calc(16 / 360 * 100vw);
      margin-bottom: calc(10 / 360 * 100vw);

      &:before {
        width: calc(20 / 360 * 100vw);
        height: calc(20 / 360 * 100vw);
        margin-right: calc(10 / 360 * 100vw);
        align-self: center;
        flex-shrink: 0;
      }
    }
  }
}
