.results {
  padding-top: calc(135 / 1600 * 100vw);

  @media (max-width: $breakpoint) {
    padding: 0;
    margin-top: calc(82 / 360 * 100vw);
  }
}


.results__title {
  max-width: calc(890 / 1600 * 100vw);
  margin: 0 auto calc(75 / 1600 * 100vw);

  @media (max-width: $breakpoint) {
    max-width: unset;
    margin: 0 0 calc(56 / 360 * 100vw);
  }
}

.results__items {
  display: flex;
  justify-content: space-between;

  @media (max-width: $breakpoint) {
    flex-direction: column;
    align-items: center;
  }
}

.results__item {
  position: relative;
  width: calc(260 / 1600 * 100vw);
  height: calc(300 / 1600 * 100vw);
  background-size: 100% 100%;
  background-color: #F2F6FC;
  border-radius: calc(20 / 1600 * 100vw);
  overflow: hidden;
  font-size: calc(16 / 1600 * 100vw);
  padding: calc(25/ 1600 * 100vw) calc(25 / 1600 * 100vw) calc(20 / 1600 * 100vw) calc(30 / 1600 * 100vw);
  box-sizing: border-box;


  &.results__item-1 {
    background-image: url("../images/results-item1.png");
  }

  &.results__item-2 {
    background-image: url("../images/results-item2.png");
  }

  &.results__item-3 {
    background-image: url("../images/results-item3.png");
  }

  &.results__item-4 {
    background-image: url("../images/results-item4.png");
  }

  @media (max-width: $breakpoint) {
    width: calc(260 / 360 * 100vw);
    height: calc(300 / 360 * 100vw);
    border-radius: calc(20 / 360 * 100vw);
    font-size: calc(16 / 360 * 100vw);
    padding: calc(25/ 360 * 100vw) calc(25 / 360 * 100vw) calc(20 / 360 * 100vw) calc(30 / 360 * 100vw);
    margin-bottom: calc(40 / 360 * 100vw);

    &:last-child {
      margin-bottom: 0;
    }

  }
}

.results__item__pic {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.results__item__title {
  margin: 0;
}
